@model IEnumerable<ProyectoFinalSalones.Salone>

@{
    ViewBag.Title = "Gestión de salones";
}

<h2>Gestión de salones</h2>

<p>
    @Html.ActionLink("Registra un nuevo salón", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Superficie (m^2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            Precio (US$)
        </th>

        <th>
            Propietario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Public/Icons/@(String.IsNullOrEmpty(item.Imagen) ? "Salon.png" : item.Imagen)" style="height:75px; width:75px" />
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Superficie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>

        
        <td>
            @Html.DisplayFor(modelItem => item.Propietario.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
