@using ProyectoFinalSalones.Controllers
@model ViewModel

@{
    ViewBag.Title = "Create";
    int numTransaccion = 0;
}

<h2>Rentar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
    
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    Inicio de la Renta
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.objetoTransaccion.FechaInicio, new { htmlAttributes = new { Type = "datetime-local", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.objetoTransaccion.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Fin de la Renta
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.objetoTransaccion.FechaFin, new { htmlAttributes = new { Type = "datetime-local", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.objetoTransaccion.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Cliente
                    <div class="col-md-10">
                        @Html.DropDownList("Cliente_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.objetoTransaccion.Cliente_Id, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <th1 style="color:red">RANGOS DE FECHA OCUPADOS</th1>
                @foreach (Salone salon in Model.salones)
                {
                    foreach (Transaccione transaccion in Model.transaccion)
                    {
                        if (transaccion.Salon_Id == salon.Id)
                        {
                            numTransaccion++;
                            <table>
                                <tr>
                                    <td style="color:crimson">
                                        Transacción #@numTransaccion |
                                    </td>
                                    <td>
                                       Inicio --> @Html.DisplayFor(modelItem => transaccion.FechaInicio) |
                                    </td>
                                    <td>
                                         Fin --> @Html.DisplayFor(modelItem => transaccion.FechaFin)
                                    </td>
                                </tr>
                            </table>

                        }

                    }
                }
            </div>

        </div>
</div>
}

<div>
    @Html.ActionLink("Volver", "Lista", "Salones")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
